<h1>Hi! I'm <%= @employee.first_name + " " + @employee.last_name %></h1><br>
<%= image_tag @employee.img_url %> 
<h2>I go by the alias <%= @employee.alias %> and I work as the <%= @employee.title %> at <%= @employee.office %> .</h2>


<p> I look after <%= @employee.dog.name %>! </p>

