<h1><%= @employee.full_name %></h1>
<br>
    <h2>Alias: <br><%= @employee.alias %></h2>
    <h2>Title: <br><%= @employee.title %></h2>
    <h2>Office: <br><%= @employee.office %></h2>
    <h2>Picture: <br><img src=<%="#{@employee.img_url}"%> alt="Employee Picture"></h2>