<div><h2>Employee </h2></div>
<p><%= @employee.first_name %></p>

<div><h2>Details</h2></div>
<p><%= @employee.first_name %></p>
<p><%= @employee.last_name %></p>
<p><%= @employee.alias %></p>
<p><%= @employee.title %></p>
<p><%= @employee.office %></p>
<p><%= @employee.img_url %></p>