<h1>Name: <%= @dog.name %></h1>
<h2>Breed: <%= @dog.breed %></h2>
<h2>Age: <%= @dog.age %></h2>
<ul>
<% @dog.employees.each do |e| %>
    <li>Employee owner: <%= link_to e.to_s, employee_path(e) %></li>
    <% end %>
</ul>

<%= link_to('Edit Dog', edit_dog_path) %>
<%= link_to "Delete Dog", dog_path(@dog.id), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>