<!DOCTYPE html>
<html>
  <head>
    <title>DunderMifflinPetShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%=link_to "| All dogs", dogs_path%>
  <%=link_to "| New dog", new_dog_path%>

  <%=link_to "| All employees", employees_path%>
  <%=link_to "| New employee", new_employee_path%>
    <%= yield %>
  </body>
</html>
